
.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.ant-input{
  border-color: #108ee9 !important;
}

.ant-card-head{
  border-color: #108ee9 !important;
}
/* .ant-card-bordered{
  border-color: #108ee9 !important;
} */

.ant-card-head-title {
  color: #108ee9 !important;
}
